@font-face {
  font-family: "FuturaBookC";
  src: url("fonts/FuturaBookC.woff2") format("woff2"),
    url("fonts/FuturaBookC.woff") format("woff"),
    url("fonts/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poiret One";
  src: url("fonts/PoiretOne-Regular.woff2") format("woff2"),
    url("fonts/PoiretOne-Regular.woff") format("woff"),
    url("fonts/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("fonts/FuturaDemiC.woff2") format("woff2"),
    url("fonts/FuturaDemiC.woff") format("woff"),
    url("fonts/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaLightC";
  src: url("fonts/FuturaLightC.woff2") format("woff2"),
    url("fonts/FuturaLightC.woff") format("woff"),
    url("fonts/FuturaLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("fonts/FuturaMediumC.woff2") format("woff2"),
    url("fonts/FuturaMediumC.woff") format("woff"),
    url("fonts/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vetrino";
  src: url("fonts/VetrinoRegular.woff2") format("woff2"),
    url("fonts/VetrinoRegular.woff") format("woff"),
    url("fonts/VetrinoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
